/* 1. SETTINGS - Variables, configs */
@import url('variables.css');
@import url('base/global.css');

/* 2. GENERIC - Reset, normalize */
@import url('base/reset.css');

/* 3. ELEMENTS - Base HTML elements */
@import url('base/typography.css');


/* 4. LAYOUT - Grid systems, containers */
@import url('layout/responsive.css');
@import url('layout/spacing.css');

/*@import url('layout/containers.css');*/
@import url('layout/containers.css');

/* 5. COMPONENTS - Reusable UI components */
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/footer.css');
@import url('components/forms.css');
@import url('components/header.css');
@import url('components/links.css');
@import url('components/profile-lite.css');
@import url('components/social-icons.css');

/* 6. PAGES - Page-specific styles (use sparingly) */
@import url('pages/page-specific-css.css');

/* page specific css's are called individually in respective html files  */

/* 7. UTILITIES - Helper classes (if needed) */
