
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.title-text {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: #333; /* Sets the text color to a dark gray */
    font-size: 2em; /* Sets the font size for the h1 heading */
    font-weight: bold;
    text-align: center; /* Centers the text */
}


.subtitle-text {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: #666; /* Sets text color to a lighter gray */
    font-size: 1.5em; /* Sets the font size for h2 */
    text-align: center; /* Centers the text */
    font-style: italic;
}

.normal-text {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: #444; /* Medium dark gray for normal text */
    font-size: 1em; /* Standard font size for paragraphs */
    line-height: 1.6; /* Improves readability with increased line height */
    text-align: left; /* Left-aligns normal text */
    margin: 10px 0; /* Adds vertical spacing between paragraphs */
}



/* Hyperlink Styling */

a {
  color: #0066cc;
  text-decoration: none;
  transition: color 0.3s ease;  /* smooth hover animation */
}

a:hover {
  color: #ff6600;
  text-decoration: underline;
}

a:visited {
    color: #800080;           /* visited link color */
}

a:active {
    color: #ff0000;           /* while clicking */
}