:root {
/* what-where-used
    /* ============================================
       Color
       ============================================ */
       --color-primary:#b54dbc;
       --font-color-primary: ;
       --font-color-secondary: ;

    /* ============================================
       Dimensions
       ============================================ */
       --height-logo-header:;
       --width-logo-header:;
       --height-logo-footer:;
       --width-logo-footer:;
       

       /* ============================================
       Fonts
       ============================================ */
        --fontPrimary:Arial, sans-serif;

        /* [] hunain to tie this to html bracket names*/
        --font-size-title: ;
        --font-size-subheading: ;
        --font-size-normal: ; /* all normal text*/
        --font-size-hyperlinks: ; /* for nav links and footer links */

    /* ============================================
       Animations
       ============================================ */
        --navButtonHoverTransitionTime: 0.33s;
        --transition-time-hover: 0.33s;
}



