.container-test {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.middle {
  display: flex;
  gap: 10px
}

.content {
  flex-grow: 1;
}

div {
  border: thin solid rgb(78, 160, 88);
  padding: 10px;
}