.container {
  display: grid;
  grid-template-columns: [left] 1fr 2fr [right];
  grid-template-rows : 100px [middle] 50px 100px [bottom];
}

.red {
  background-color: red;
  grid-column-start: left;
  grid-column-end: right;
}

.green {
  background-color: lime;
  grid-row-start: middle;
  grid-row-end: bottom;
}

.blue { background-color: cyan; }
.yellow { background-color: yellow; }