/* testing flex containers*/

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.center-everything{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Items wrap to next line if needed */
}