.container1101 { /*big wrapper creating 1 ds*/
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: auto;
  gap: 10px;
}


.left-side-bar-1101 {
  background-color: grey;
  text-align: center;
}
