/* ============================================
   Standard Parent Grids
     /*   1 2 3 4
     1 -|-|-|-
     2 -|-|-|-
     3 -|-|-|-
     4 -|-|-|- 
     Row first then column for naming

       1 2 3 
     1 -|-|-
     2 -|-|-
     3 -|-|-
     
     Row first then column for naming     
   ============================================ */

.container3by3 { 
  display: grid;
  grid-template-columns:  repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  align-content: stretch;
  justify-items: stretch;
  gap: 10px;
  height: 100%;
  min-height: 100vh;
}

.container4by4 { 
  display: grid;
  grid-template-columns:  repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  align-content: stretch;
  justify-items: stretch;
  gap: 10px;
  height: 100%;
  min-height: 100vh;
}

/* ============================================
   Standard Children Containers for 4 by 4 Grid
   ============================================ */

.OneTwo-OneThree {   
  background-color: rgb(211, 154, 230);
  justify-items: center;
  grid-row: 1 / 1;
  grid-column: 2 / 3;
  /*   1 2 3 4
     1 -|x|x|-
     2 -|-|-|-
     3 -|-|-|-
     4 -|-|-|- 
     Row first then column for naming*/
}

.ThreeOne-FourTwo {
  background-color: rgb(211, 154, 230);
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  /*   1 2 3 4
     1 -|-|-|-
     2 -|-|-|-
     3 x|x|-|-
     4 x|x|-|- 
     Row first then column for naming*/
}

.ThreeTwo-FourThree {
  background-color: rgb(211, 154, 230);
  grid-row: 3 / 4;
  grid-column: 2 / 3;
    /* 1 2 3 4
     1 -|-|-|-
     2 -|-|-|-
     3 -|x|x|-
     4 -|x|x|- 
     Row first then column for naming*/
}

.ThreeThree-FourFour {
  background-color: rgb(211, 154, 230);
  grid-row: 3 / 4;
  grid-column: 3 / 4;
    /*   1 2 3 4
     1 -|-|-|-
     2 -|-|-|-
     3 -|-|x|x
     4 -|-|x|x 
     Row first then column for naming*/
}

/* ============================================
   Standard Children Containers for 3 by 3 Grid
   ============================================ */
   .One-Two {   
  justify-content: center;
  align-items: center;     
  grid-row: 1;
  grid-column: 2 ;
  /*   
       1 2 3 
     1 -|x|-
     2 -|-|-
     3 -|-|-
     Row first then column for naming*/
}
   
   .Two-Two {   
  justify-content: center;
  align-items: center;     
  grid-row: 2;
  grid-column: 2 ;
  /*   
       1 2 3 
     1 -|-|-
     2 -|x|-
     3 -|-|-
     Row first then column for naming*/
}

.Three-One {
  grid-row: 3;
  grid-column: 1;
  /* 
       1 2 3 
     1 -|-|-
     2 -|-|-
     3 x|-|-
     Row first then column for naming*/
}

.Three-Two {
  grid-row: 3;
  grid-column: 2;
  /* 
       1 2 3 
     1 -|-|-
     2 -|-|-
     3 -|x|-
     Row first then column for naming*/
}

.Three-Three {
  grid-row: 3;
  grid-column: 3;
  /* 
       1 2 3 
     1 -|-|-
     2 -|-|-
     3 -|-|x
     Row first then column for naming*/
}
   .OneThree-Two {   
  justify-content: center;
  align-items: center;     
  grid-row: 1 / 3;
  grid-column: 2;
  /*   
       1 2 3 
     1 -|x|-
     2 -|x|-
     3 -|x|-
     Row first then column for naming*/
}
/* ============================================
   Standard helper classes
   ============================================ */
.Waves_Icon { /* Bullet point used in About Us page. Needs a proper home */
  justify-self: center;
  align-self: center;
  padding-bottom: 10px;
}

.extra-space {
  height: 50px;
}


/* Testing cell numbrs in grids */
.single-4by4-cell { 
  align-self: center;
  background-color: rgb(236, 214, 165);
}