.container3by3 { /*big wrapper creating 1 ds*/
  display: grid;
  grid-template-columns:  repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  align-content: stretch;
  gap: 10px;
  justify-items: stretch;
  height: 100%;
}

.container4by4 { /*big wrapper creating 1 ds*/
  display: grid;
  grid-template-columns:  repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  align-content: stretch;
  gap: 10px;
  justify-items: stretch;
  height: 100%;
}

.left-nav-bar-1101 {
  background-color: purple;
  text-align: center;
  justify-items: stretch;
  grid-row: span 2;
}

.left-side-bar-1101 {
  background-color: blue;
  text-align: center;
  justify-items: stretch;
  grid-row: span 3;
}

.content1101 {
  background-color: yellow;
  justify-items: center;
  grid-row: 1 / span 3
}

.B1-C1 {   
  background-color: rgb(211, 154, 230);
  justify-items: center;
  grid-row: 1 / 1;
  grid-column: 2 / 3;
  /*   A B C D
     1 x|o|o|x
     2 x|x|x|x
     3 x|x|x|x */
}

.section-first {
  background-color: rgb(211, 154, 230);
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.section-second {
  background-color: rgb(211, 154, 230);
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.section-third {
  background-color: rgb(211, 154, 230);
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}