<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-links-left">
                <a href="index.html" class="footer-nav-link">Home</a>
                <a href="about-us.html" class="footer-nav-link">About Us</a>
                <a href="privacy-policy.html" class="footer-nav-link">Privacy Policy</a>
            </div>
            
            <div class="footer-logo">
                <a href="index.html">
                    <img src="{{mediaPath}}Media/lhoklogo.png" alt="LHOK Logo">
                </a>
            </div>
            
            <div class="footer-links-right">
                <a href="contact-us.html" class="footer-nav-link">Contact Us</a>
                <a href="https://www.instagram.com/lhok.ca/" class="footer-nav-link" target="_blank">Start Lhoking</a>
            </div>

            <div class="footer-links-right">
                <a href="terms-and-conditions.html" class="footer-nav-link">Terms and Conditions</a>
            </div>

        </div>
        
        <div class="footer-bottom">
            <p>&copy; 2025 LHOK. All rights reserved.</p>
        </div>
    </div>
</footer>