<header>
    <div class="header-content">
        <nav class="header-nav-left">
            <a href="about-us.html" class="nav-link">About Us</a>
        </nav>
        
        <div class="logo">
            <a href="index.html">
                <img src="{{mediaPath}}Media/lhoklogo.png" alt="LHOK Logo">
            </a>
        </div>
        
        <nav class="header-nav-right">
            <a href="contact-us.html" class="nav-link">Contact Us</a>
        </nav>

                <nav class="header-nav-right">
            <a href="login.html" class="nav-link">Login</a>
        </nav>
    </div>
</header>